:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --textColor: #ffffff;
}
body{
  margin: 0;
}
.container{
  color: var(--textColor);
  background-size: cover;
  width: 100%;
  height: 100vh;
  
}
/* Question card styling */
.question-card-container {
  width: 300px;
  position: absolute;
  padding: 100px 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgb(0,0,0,0.8);
}
.button-container {
  text-align: center;
  margin-top: 30px;
}
/* On 1080px-screen and less*/
@media screen and (max-width: 1080px) {
  .question-card-container{
    padding: 80px 40px;
  }
  
}
/* On 630px-screen and less*/
@media screen and (max-width: 630px) {
  .question-card-container{
    width: 80%;
    padding: 20px 20px;
    overflow-y: scroll;
  }
  
}